<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.swcode.fullscreenimageview" >

    <application>
        <activity android:name="io.swcode.fullscreenimageview.FullScreenImageViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
    </application>
</manifest>
